<a href="https://colab.research.google.com/github/SamudralaAjaykumarrr/python_upgrade/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 23

if age >= 18 and age < 60:
    print("Adult")

Adult

In [1]:
age = 23

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [2]:
marks = 78

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

In [3]:
numbers = [10, 20, 30, 40]

for num in numbers:
    print(num * 2)

20
40
60
80

In [4]:
numbers = [10, 15, 20, 25, 30]

for n in numbers:
    if n % 2 == 0:
        print(n, "is even")
    else:
        print(n, "is odd")

10 is even
15 is odd
20 is even
25 is odd
30 is even

In [5]:
student = {
    "name": "Ajay",
    "age": 23,
    "degree": "Masters"
}

for key, value in student.items():
    print(key, ":", value)

name : Ajay
age : 23
degree : Masters

In [6]:
count = 1

while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [9]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
num=[2,3,5,7,22,24,36,78]
for i in num:
  if i%2==0:
    print(i)

2
22
24
36
78

In [18]:
num=[2,3,5,7,22,24,36,78]
count=0
for i in num:
  if i>=20:
    count+=1
print(count)

4

In [24]:
name =  ["Sheela","reddy","kumar"]
if "Sheela" in name:
    print("True")
else:
  print("False")

True

In [25]:
student = {
    "name": "Ajay",
    "age": 23,
    "degree": "Masters"
}

for key, value in student.items():
    print(key, ":", value)

name : Ajay
age : 23
degree : Masters

In [26]:
#Student Result Analyzer
students = [
    {"name": "Ajay", "marks": 85},
    {"name": "Rahul", "marks": 62},
    {"name": "John", "marks": 45}
]

for student in students:
    if student["marks"] >= 75:
        print(student["name"], "→ Distinction")
    elif student["marks"] >= 60:
        print(student["name"], "→ Pass")
    else:
        print(student["name"], "→ Fail")

Ajay → Distinction
Rahul → Pass
John → Fail