<a href="https://colab.research.google.com/github/SamudralaAjaykumarrr/python_upgrade/blob/main/day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "banana", "mango"]
print("Initial:", fruits)

# access
print(fruits[0], fruits[1], fruits[2])

# modify
fruits[1] = "orange"

# add
fruits.append("grape")

# remove
fruits.remove("apple")

# pop last
last = fruits.pop()

# sort
fruits.sort()

print("Final List:", fruits)
print("Popped Item:", last)

Initial: ['apple', 'banana', 'mango']
apple banana mango
Final List: ['mango', 'orange']
Popped Item: grape

In [4]:
colors = ("red", "green", "blue")
print(colors)
print(colors[1])
#new=colors.append(white) (it will get errors)

('red', 'green', 'blue')
green

In [7]:
nums = {1, 2, 2, 3, 4, 4, 5}
print("Unique set:", nums)

nums.add(6)
nums.discard(3)

print("Final set:", nums)

# membership check
print(4 in nums)
print(10 in nums)
nums.add(11)
print(nums)

Unique set: {1, 2, 3, 4, 5}
Final set: {1, 2, 4, 5, 6}
True
False
{1, 2, 4, 5, 6, 11}

In [8]:
student = {
    "name": "Ajay",
    "age": 23,
    "university": "FAU"
}

print(student)

# access
print(student["name"])

# modify
student["age"] = 24

# add
student["country"] = "USA"

# remove
student.pop("university")

print("Updated dictionary:", student)

{'name': 'Ajay', 'age': 23, 'university': 'FAU'}
Ajay
Updated dictionary: {'name': 'Ajay', 'age': 24, 'country': 'USA'}

In [16]:
my_numbers=[10,20,30,40,50,60]
print(my_numbers[0])
print(my_numbers[-1])
my_numbers[1]=99
my_numbers.append(70)
my_numbers.remove(40)
my_numbers.sort()
print(my_numbers)

10
60
[10, 30, 50, 60, 70, 99]

In [17]:
car_brand=("audi","BMW","Toyota")
print(car_brand)
print(car_brand[1])

('audi', 'BMW', 'Toyota')
BMW

In [19]:
my_set={1,1,2,2,3,4,5,6,7,8}
my_set.add(15)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 15}

In [20]:
profile = {
 "name": "Ajay",
 "age": 23,
 "degree": "Masters"
}
profile["Major"]="IT"
profile["city"]="Miami"
profile["country"]="USA"
print(profile)

{'name': 'Ajay', 'age': 23, 'degree': 'Masters', 'Major': 'IT', 'city': 'Miami', 'country': 'USA'}

In [21]:
# Mini project - Contact Manager
contact1 = {"name": "Ajay", "phone": "123-456"}
contact2 = {"name": "Rahul", "phone": "987-654"}
contact3 = {"name": "John", "phone": "555-666"}

contacts = [contact1, contact2, contact3]

for contact in contacts:
    print("Name:", contact["name"])
    print("Phone:", contact["phone"])
    print("-----------")

Name: Ajay
Phone: 123-456
-----------
Name: Rahul
Phone: 987-654
-----------
Name: John
Phone: 555-666
-----------